*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

a{
    text-decoration: none; /*Tirar linas*/
    color: #fff;
}

ul{
    list-style: none;
} /*Tirar as bolinhas */

img{
    max-width: 100%;
}